security:
    password_hashers:
        App\Auth\Domain\User\Entity\User:
            algorithm: auto

    providers:
        app_user_provider:
            id: App\Auth\Infrastructure\Security\UserProvider

    firewalls:
        login:
            pattern: ^/api/auth/login
            stateless: true
            json_login:
                check_path: /api/auth/login
                username_path: email
                password_path: password

        api:
            pattern: ^/api/
            stateless: true
            jwt: ~

    access_control:
        - { path: ^/api/auth/login, roles: PUBLIC_ACCESS }
        - { path: ^/api/, roles: IS_AUTHENTICATED_FULLY }
